In [1]:
print('ARUN')

ARUN

**Step 1: Data Exploration and Loading **

In [59]:
import pandas as pd
# mysql toolkit
import pymysql
from sqlalchemy import create_engine

In [ ]:

print(pd.__version__)
df=pd.read_csv('C:\\Users\\Manjusha\\Desktop\\Walmart.csv',encoding_errors='ignore')
df.shape

In [ ]:
df.describe()

         invoice_id      quantity        rating  profit_margin
count  10051.000000  10020.000000  10051.000000   10051.000000
mean    5025.741220      2.353493      5.825659       0.393791
std     2901.174372      1.602658      1.763991       0.090669
min        1.000000      1.000000      3.000000       0.180000
25%     2513.500000      1.000000      4.000000       0.330000
50%     5026.000000      2.000000      6.000000       0.330000
75%     7538.500000      3.000000      7.000000       0.480000
max    10000.000000     10.000000     10.000000       0.570000

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      10051 non-null  int64
 1   Branch          10051 non-null  object
 2   City            10051 non-null  object
 3   category        10051 non-null  object
 4   unit_price      10020 non-null  object
 5   quantity        10020 non-null  float64
 6   date            10051 non-null  object
 7   time            10051 non-null  object
 8   payment_method  10051 non-null  object
 9   rating          10051 non-null  float64
 10  profit_margin   10051 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 863.9+ KB

In [ ]:
#All dupilcates
df.duplicated().sum()

np.int64(51)

In [31]:
df.drop_duplicates(inplace=True)
df.duplicated().sum()

np.int64(0)

In [33]:
df.shape

(10000, 11)

In [37]:
df.dropna(inplace=True)

# Verify
df.isnull().sum()
df.shape

(9969, 11)

In [ ]:
df['unit_price']=df['unit_price'].str.replace('$',' ').astype(float)

In [ ]:
df.info()

In [ ]:
df['TotalAmount']=df['unit_price']*df['quantity']
df.columns

In [57]:
df.to_csv('C:\\Users\\Manjusha\\Desktop\\Walmart_clean_data.csv',index=False)

**Connection with MYSQL **

In [64]:
engine_mysql=create_engine('mysql+pymysql://root:Thathayya%401@localhost:3306/walmart')
try:
    engine_mysql
    print('connection successful')
except:
    print('unsucess')

connection successful

In [ ]:
** Exporting data to mysql**

In [68]:
df.to_sql(name='walmart',con=engine_mysql,if_exists='append',index=False)

9969

**changing to lower case **

In [67]:
df.columns=df.columns.str.lower()
df.columns

Index(['invoice_id', 'branch', 'city', 'category', 'unit_price', 'quantity',
       'date', 'time', 'payment_method', 'rating', 'profit_margin',
       'totalamount'],
      dtype='object')